@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:600,700');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-hind {
    font-family: "Hind",Arial,sans-serif;
}

.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.pointer {
    cursor: pointer;
}

.tag h1 {
    font-weight: 700;
}

.tag_sub {
    font-weight: 400;
    line-height: 1.33;
    margin-top: 8px;
}

.tag-sub-description {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    font-size: 18px !important;
    margin-top: 8px;
    line-height: 1.33;
    font-weight: lightest !important;
}

#centered-description {
    line-height: 30px;
    margin-top: 20px;
}

#menu_align {
    position: relative;
    top: -4px;
}

.gwp_contact_button {
    text-shadow: 0 1px 0 #4b5ef0;
    background: -webkit-gradient(linear, left top, left bottom, from(#aeb7ff), to(#5468ff));
    background: linear-gradient(#aeb7ff, #5468ff);
    -webkit-box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -3px 0 0 #4b58ba;
    box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -3px 0 0 #4b58ba;
    height: 4em;
    transition: box-shadow 0.15s ease, transform 0.15s ease, -webkit-box-shadow 0.15s ease, -webkit-transform 0.15s ease;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    line-height: 4.5rem;
    width: 120px;
    box-sizing: border-box;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    margin-top: 3px;
}

.gwp_contact_button:active {
    box-shadow: 
        inset 0 2px 0 1px rgba(132,138,184,0.11), 
        inset 0 2px 9px 0 rgba(93,100,148,0.5), 
        inset 0 -1px 0 1px #5468ff;
}

.gwp_contact_button:focus {
    outline:none;
}

@media (max-width: 1010px) {
    .gwp_contact_button {
        visibility: visible;
        margin-top: -20px;
    }
    
    .navbar-collapse {
        visibility: hidden;
    }

    #bg1 {
        display: none;
    }
    
    /* .navbar-nav {
       display: none;
    } */
    
    .description {
        font-size: 16px !important;
    }
}

@media (max-width: 767px) {
    .gwp_contact_button {
        float: left;
        margin-top: -91px;
    }
    
    .navbar-nav {
        visibility: visible;
    }

    #centered-description {
        width: 90vw !important;
    }
}

@media (max-width: 458px) {
    .navbar-toggle {
        visibility: hidden;
    }
    
    .navbar-brand {
        text-align: center;
        position: fixed;
        background-color: white;
        width: 100vw;
        left: 0px;
        top: 0px;
        height: 70px !important;
        z-index: 1000;
        line-height: 40px !important;
        box-shadow: 0px 0px 15px gray;
    }
}

.gwp_contact_button:hover {
    box-shadow: 0 11px 16px -3px rgba(45,35,66,0.3), 0 4px 5px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #4b58ba;
    transform: translateY(-2px);
}



/* ========== SPACE HOLDER DIVS ========== */
.empty1 {
    width: 100%;
    height: 50px;
  }
  
.empty2 {
    width: 100%;
    padding-bottom: 14%;
}
/* ========== END SPACE HOLDER DIVS ========== */



/* ========== SERVICE CARDS ========== */
.service-card {
    margin-bottom: 40px;
    padding: 24px 24px;
    border-radius: 6px;
    /* padding-left: 0 !important; */
}

.service-card:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 15px rgba(27,31,35,0.15);
    text-decoration: none;
}

.service-icons {
    height: 50px;
}

.service-description {
    font-size: 14px;
}

@media (max-width: 500px) {
    .service-card {
        margin-bottom: 40px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
/* ========== END SERVICE CARDS ========== */

/* ========== SHOWCASE CONTAINER ========== */
.showcase-container {
    background: #f5f5fa !important;
    padding-bottom: 48px;
}

.showcase-card-container {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: auto;
    display: flex;
    min-height:100px;
    padding-bottom: 48px;
}

.showcase-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.showcase-text-container {
    min-height: 100px;
    height:auto;
}

.showcase-text {
    margin-left:25px;
    margin-right:25px;
    max-width:500px;
}

.showcase-text-service {
    color: var(--nebula);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1.5px;
    margin-bottom: 8px;
}

.showcase-text-tagline {
    color: var(--solstice);
    font-weight:400;
    margin-bottom:8px;
    margin-top:0;
    font-size:18px;
}

.showcase-text-service-description {
    line-height:1.33;
    font-weight:400;
    font-size: 16px;
    color: var(--telluric);
    margin:0;
}

.showcase-hero {
    min-height: 100px;
    height:auto;
}

.showcase-hero-img {
    width: 100%;
    box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
    border-radius:2px;
}

.row-reverse {
    flex-direction: row-reverse;
}

@media only screen and (min-width: 768px) {
    .showcase-hero {
        order: 2;
    }

    .showcase-text-container {
        order: 1;
    }
}

@media only screen and (max-width: 768px) {
    .showcase-container {
        padding-bottom: 0;
    }
    
    .showcase-text-container {
        padding-top: 24px;
        padding-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    .showcase-hero-img {
        width:90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/* ========== END SHOWCASE CONTAINER ========== */

/* ========== BEGIN PARTNERS CONTAINER ========== */
/* .card-body {
    height: 80px;
}

.card-body img {
    width:25%;
} */

.carousel-partners {
    padding-bottom:60px;
}
/* ========== END PARTNERS CONTAINER ========== */


/* ========== BEGIN FOOTER CONTAINER ========== */
footer {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-top: 0;
    background-color: #f5f5fa;
}

.footer_ul {
    list-style: none;
    line-height: 1.33;
    font-weight: 400;
    font-size: 14px;
}

.footer_ul li {
    margin-top: 16px;
    cursor: pointer;
}

.footer_ul h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 24px;
}

@media (max-width: 991px) {
    .footer_ul {
        text-align:center;
        margin-bottom:40px;
        padding-left: 0 !important;
    }
}
/* ========== END FOOTER CONTAINER ========== */



/* ========== SUBSCRIBE FORM STYLES ========== */
#mc_embed_signup {
    background:none !important;
}

#mc_embed_signup form {
    margin-left:25px;
    margin-right: 50px;
    padding-top:0px !important;
}

.subscribe-button {
    /* background: linear-gradient(#fff,#e4e4e9) no-repeat;
    box-shadow: 0 7px 14px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #cfd1e3;
    height: 4rem !important;
    line-height: 4.5rem !important;
    transition: box-shadow 0.15s ease, transform 0.15s ease, -webkit-box-shadow 0.15s ease, -webkit-transform 0.15s ease;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 1.2em 3em !important;
    box-sizing: border-box;
    text-align: center;
    font-family: 'hind', sans-serif;
    font-weight: 700 !important;
    color: #5d6494 !important;
    font-size: 13px;
    border-radius: 30px !important;
    margin: 5px auto !important;
    cursor: pointer; */

    background: linear-gradient(#fff,#e4e4e9) no-repeat;
    box-shadow: 0 7px 14px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #cfd1e3;
    height: 4.5rem !important;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    border-radius: 30px !important;
    color: var(--telluric) !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    margin-top: 20px !important;
}

.subscribe-button:hover {
    box-shadow: 0 11px 16px -3px rgba(45,35,66,0.3), 0 4px 5px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #cfd1e3;
    transform: translateY(-2px);
}

.subscribe-button:focus {
    outline:none;
}
/* ========== SUBSCRIBE FORM STYLES ========== */



/* ========== CONTACT PAGE STYLES ========== */
#mc_embed_signup_scroll {
    padding-top: 30px !important;
    padding-bottom: 20px !important;
}

.contact-jumbotron-gradient {
    background-image: linear-gradient(#fff,#f5f5fa);
}

.contact-form-container {
    background-color: var(--moon);
}

.form {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(245, 245, 250));
    box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2);
    min-height: xxx;
    overflow: hidden;
    padding:24px;
    border-radius: 2px;
}

.form-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: var(--telluric);
    margin-top:15px;
}

.form select {
    width: 100%;
    font-family: "Hind",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border: 1px solid;
    border-color: var(--proton);
    border-radius: 4px;
    background-color: white;
    margin-top: 8px;
    height:40px;

    /* if i decide to hide or change the arrow */
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */

}

.form select:focus {
    outline: none;
}

.form input {
    width:100%;
    font-family: "Hind",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border: 1px solid;
    border-color: var(--proton) !important;
    border-radius: 4px;
    background-color: white;
    margin-top: 8px;
}

.form input:focus {
    outline:none;
}

.form textarea {
    width:100%;
    font-family: "Hind",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border: 1px solid;
    border-color: var(--proton);
    border-radius: 4px;
    background-color: white;
    margin-top: 8px;
}

.form textarea:focus {
    outline: none;
}

.gwp_contact_submit {
    text-shadow: 0 1px 0 #4b5ef0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 11px !important;
    height: 4.5rem !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#aeb7ff), to(#5468ff));
    background: linear-gradient(#aeb7ff, #5468ff);
    -webkit-box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -3px 0 0 #4b58ba;
    box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -3px 0 0 #4b58ba;
    padding: 0 50px !important;
}

.gwp_contact_submit:hover {
    box-shadow: 0 11px 16px -3px rgba(45,35,66,0.3), 0 4px 5px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #4b58ba;
    transform: translateY(-2px);
}
